*{
    margin: 0;
    padding: 0;
}
.sidebar{
    /* background-color: rgb(248, 4, 4); */
    background-color: rgb(123, 56, 56);
    color: rgb(245, 235, 237);
    width: 200px;
    height: 160vh;
    font-size: larger;
    font-weight: bolder;
}
.sidebar:hover{
    background-color: rgb(169, 0, 0);
    color: aliceblue;
}
.sidebar nav{
    padding: 45px;
}
.sidebar nav li {
    list-style: none;
    font-size: 30 px;
    padding: 33px 0;
}
.sidebar nav li img{
    width: 10px;
}
.sidebar nav li a{
   text-decoration: none;
   color: azure;
}
.main{
    /* background-color: yellow; */
    background-color: rgb(209, 241, 147);
    color: rgb(1, 17, 21);

}
.container{
    background-color: rgb(209, 241, 147);
    display: flex;
    width: 100vw;
}
.infocontainer{
    /* background-color: rgb(218, 128, 76); */
    height: 45vh;
    width: 80vw;
    margin: 120px ;
    display: flex;
    justify-content: space-around;
}
.devinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.hello{
    font-size: 50px;

}
.name{
    font-size: 40px;
    font-weight: bold;
}
.about{
    font-size: 30px;
    margin-top: 5px;
}
.moreabout{
    font-size: 20px;
    margin-top: 10px;
}
.buttons button{
    margin-top: 30px;
    padding: 10px 14px;
    border-radius: 10px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    cursor:pointer ;
}
.buttons button:hover{
    background-color: black;
}
.devpic img{
    width: 22.1vh;
}

.contactform h1{
    text-align: center;
}
.contactform {
    padding: 34px;
    padding-top: 144px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contactform{
    text-align:start;
}
.contactform h1{
    color: rgb(112, 24, 24);
}
.contactform div{
    padding: 5px ;
    margin-top: 6px;
    border-radius: 20px;
    width: 16vw;
}
.mb-3{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#emailHelp{
    font-size: 15px;
    color: blueviolet;
    margin: 0;
}
.myintro{
    padding: 5px;
    margin: 5px;
}
.skillcontainner{
    padding: 5px;
}
.skillitem{
    display: flex;
   font-size: 150%;
}
.skill{
    background-color: brown;
    width: 23px;
    height: 15px;
    border: 2px solid black;
}
.t1{
    width: 50px;
    background-color: aqua;
}
.t2{
    width: 50px;
    background-color: aqua;
}
.t3{
    width: 150px;
    background-color: red;
}
.t4{
    width: 200px;
    background-color: blueviolet;
}
.t5{
    width: 200px;
    background-color: rgb(29, 84, 103);
}
.myproject{
    display: flex;
}
.project{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
